@using EL.Concrate
@model List<Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Kategori</th>
            <th>Açıklama</th>
            <th>Durum</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <th>@item.CategoryId</th>
                <td>@item.CategoryName</td>
                <td>@item.CategoryDescription</td>
                <td>@item.CategoryStatus</td>
                <td class="col-2">
                    <a href="#" class="btn btn-danger" title="Sil">
                        <i class="nav-icon fas fa-trash-alt"></i>
                    </a>
                    <a href="#" class="btn btn-warning" title="Güncelle">
                        <i class="nav-icon fas fa-sync-alt"></i>
                    </a>
                    <a href="#" class="btn btn-primary" title="Başlıklar">
                        <i class="nav-icon fas fa-pen-fancy"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    }
</table>
<a href="/AdminCategory/AddCategory" class="btn btn-info">Yeni Kategori</a>